<div class="container">
  <!-- Register Form -->
  <fieldset>
    <legend>Register Form</legend>
    <form action="/signUp" method="post">
      <!-- Email Input -->
      <div class="mb-3 row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            name="email"
          />
        </div>
      </div>

      <!-- Password Input -->
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label"
          >Password</label
        >
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            name="password"
          />
        </div>
      </div>

      <!-- Confirm Password Input -->
      <div class="mb-3 row">
        <label for="confirmPassword" class="col-sm-2 col-form-label"
          >Confirm Password</label
        >
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
          />
        </div>
      </div>

      <!-- Show Password Checkbox -->
      <div class="mb-3 row">
        <div class="col-sm-10 offset-sm-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="showPassword" />
            <label class="form-check-label" for="showPassword"
              >Show Password</label
            >
          </div>
        </div>
      </div>

      <!-- Form Buttons -->
      <div class="mb-3 row">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="btn btn-success">Sign Up</button>
          <a class="btn btn-secondary" href="/" role="button">Back</a>
          <a class="btn btn-primary" href="/login" role="button">Login</a>
        </div>
      </div>
    </form>
  </fieldset>
</div>

<script>
  var showPasswordCheckbox = document.getElementById("showPassword");
  var passwordField = document.getElementById("inputPassword");
  var confirmPasswordField = document.getElementById("confirmPassword");

  showPasswordCheckbox.addEventListener("change", function () {
    passwordField.type = this.checked ? "text" : "password";
    confirmPasswordField.type = this.checked ? "text" : "password";
  });
</script>
